Page 1 — Data Quality

In [92]:
import numpy as np
import pandas as pd
import streamlit as st
import matplotlib as mpl 

df=pd.read_csv("EDUKRON_DATASETS/application_train.csv")

df.head()

# df.columns

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
data=df['DAYS_BIRTH']
AGE_YEARS=(-data/ 365.25)
AGE_YEARS

0         25.902806
1         45.900068
2         52.145106
3         52.032854
4         54.570842
            ...
307506    25.535934
307507    56.878850
307508    40.974675
307509    32.747433
307510    46.149213
Name: DAYS_BIRTH, Length: 307511, dtype: float64

In [50]:
data1=df['DAYS_EMPLOYED'] 

EMPLOYMENT_YEARS= -data1/365.25
EMPLOYMENT_YEARS

0           1.744011
1           3.252567
2           0.616016
3           8.320329
4           8.317591
             ...
307506      0.646133
307507   -999.980835
307508     21.686516
307509     13.103354
307510      3.455168
Name: DAYS_EMPLOYED, Length: 307511, dtype: float64

In [70]:
# Create ratios:

DTI = df['AMT_ANNUITY'] / df['AMT_INCOME_TOTAL']
DTI

LOAN_TO_INCOME = df['AMT_CREDIT'] / df['AMT_INCOME_TOTAL']
LOAN_TO_INCOME

ANNUITY_TO_CREDIT = df['AMT_ANNUITY'] / df['AMT_CREDIT']
ANNUITY_TO_CREDIT

0         0.060749
1         0.027598
2         0.050000
3         0.094941
4         0.042623
            ...
307506    0.108198
307507    0.044524
307508    0.044239
307509    0.054592
307510    0.072767
Length: 307511, dtype: float64

In [ ]:
# Handle missing values (report % and apply strategy: drop columns > 60% missing; impute median/most-frequent for others)

total_orders = df['Order ID'].nunique()

In [90]:
# Define income brackets (quantiles): Low (Q1), Mid (Q2–Q3), High (Q4)

a=df['AMT_INCOME_TOTAL']
# print(a.max())
# print(a.min())

p25=np.percentile(a,25)
p50=np.percentile(a,50)
p75=np.percentile(a,75)
p100=np.percentile(a,100)
print(p25)
print(p50)
print(p75)
print(p100)

if a<p25:

112500.0
147150.0
202500.0
117000000.0

In [ ]:
# Ensure consistent filters (gender, education, family status, housing, income bracket, age range)

Page 2 — Target & Risk Segmentation

In [176]:
# Total Applicants = count(SK_ID_CURR)

Total_Applicants= df['SK_ID_CURR'].count()
Total_Applicants

# Default Rate (%) = mean(TARGET) × 100

Default_Rate= df['TARGET'].mean() * 100
Default_Rate

# Repaid Rate (%) = (1 - mean(TARGET)) × 100

Repaid_Rate = (1-df['TARGET'].mean()) * 100
Repaid_Rate

# Total Features = number of columns
a=list(df.columns)
Total_Features = len(a)
Total_Features

# Avg Missing per Feature (%) = mean(isnull(col)) × 100 averaged over columns

# # Numerical Features
# # Categorical Features

# Median Age (Years) = median(AGE_YEARS)
Median_Age= AGE_YEARS.median()
Median_Age

# Median Annual Income
Median_Annual_Income= df['AMT_INCOME_TOTAL'].median()
Median_Annual_Income

# Average Credit Amount

x=df['AMT_CREDIT'].sum()
y=len(list(df.columns))

Average_Credit_Amount=x/y
Average_Credit_Amount

np.float64(1509894132.75)

Page 3 — Demographics & Household Profile

In [223]:
# % Male vs Female
# grouped=df['CODE_GENDER']
# grouped


# Avg Age — Defaulters
# Avg Age — Non-Defaulters


# % With Children = % (CNT_CHILDREN > 0)

# With_Children= CNT_CHILDREN df[CNT_CHILDREN>0]  
# With_Children

# Avg Family Size = mean(CNT_FAM_MEMBERS)

# Avg_Family_Size= df['CNT_FAM_MEMBERS'].mean()
# Avg_Family_Size


# % Married vs Single (from NAME_FAMILY_STATUS)
# % Higher Education (Bachelor+)

df['NAME_EDUCATION_TYPE']

# % Living With Parents (NAME_HOUSING_TYPE == 'With parents')
# % Currently Working (derive from occupation/employment)

# Avg Employment Years

# x=EMPLOYMENT_YEARS
# y=len(list(df.columns))

# AVG_EMPLOYMENT_YEARS= x/y
# AVG_EMPLOYMENT_YEARS

0         Secondary / secondary special
1                      Higher education
2         Secondary / secondary special
3         Secondary / secondary special
4         Secondary / secondary special
                      ...
307506    Secondary / secondary special
307507    Secondary / secondary special
307508                 Higher education
307509    Secondary / secondary special
307510                 Higher education
Name: NAME_EDUCATION_TYPE, Length: 307511, dtype: object

Page 4 — Financial Health & Affordability

In [249]:
# Avg Annual Income

x=df['AMT_INCOME_TOTAL']
y=len(list(df.columns))

Avg_Annual_Income= x/y

Avg_Annual_Income

# Median Annual Income
x=df['AMT_INCOME_TOTAL'].median()
x
# Avg Credit Amount

x=df['AMT_CREDIT']
y=len(list(df.columns))

Avg_Credit_Amount= x/y

Avg_Credit_Amount

# Avg Annuity

x=df['AMT_ANNUITY']
y=len(list(df.columns))

Avg_Annuity= x/y

Avg_Annuity

# Avg Goods Price

a=df['AMT_GOODS_PRICE']
b=len(list(df.columns))
Avg_Goods_Price= a/b
Avg_Goods_Price

# Avg DTI = mean(AMT_ANNUITY / AMT_INCOME_TOTAL)
# a=DTI
# b=len(list(df.columns))
# Avg_DTI= a/b
# Avg_DTI

# Avg Loan-to-Income (LTI) = mean(AMT_CREDIT / AMT_INCOME_TOTAL)
# Income Gap (Non-def − Def) = mean(income|0) − mean(income|1)
# Credit Gap (Non-def − Def) = mean(credit|0) − mean(credit|1)
# % High Credit (> 1M)

0         0.001000
1         0.001084
2         0.000820
3         0.001802
4         0.001475
            ...
307506    0.001434
307507    0.001366
307508    0.001606
307509    0.000969
307510    0.002556
Length: 307511, dtype: float64

Page 5 — Correlations, Drivers & Interactive Slice-and-Dice

In [ ]:
# Top 5 +Corr with TARGET (list)
# Top 5 −Corr with TARGET (list)
# Most correlated with Income
# Most correlated with Credit
# Corr(Income, Credit)
# Corr(Age, TARGET)
# Corr(Employment Years, TARGET)
# Corr(Family Size, TARGET)
# Variance Explained by Top 5 Features (proxy via |corr|)
# # Features with |corr| > 0.5

In [219]:
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)