In [3]:
# Question 1: Create a dictionary of student names and their ages
dict={"ramesh":25,"suresh":28,"mahesh":30,"brijesh":35}
print(dict)

{'ramesh': 25, 'suresh': 28, 'mahesh': 30, 'brijesh': 35}

In [7]:
# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
dict={'a': 1, 'b': 2, 'c': 3}
dict["d"]=4
dict["e"]=5
print(dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [9]:
# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
dict={'name': 'John', 'age': 25, 'city': 'New York'}
dict.keys()

dict_keys(['name', 'age', 'city'])

In [15]:
# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
dict={'python': 3, 'java': 2, 'c++': 1}
dict.values()

dict_values([3, 2, 1])

In [41]:
# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
dict={'name': 'Alice', 'age': 30, 'city': 'London'}
if 'age' in dict:
    print("the given key 'age' exists")
else:
    print("the given key doesnt exists")

the given key 'age' exists

In [39]:
# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
dict={'a': 1, 'b': 2, 'temp': 3, 'c': 4}
dict.pop('temp')

3

In [33]:
# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
dict={'math': 85, 'science': 92, 'english': 78}
sum(dict.values())

255

In [ ]:
# Question 8: Create a dictionary with squares of numbers 1 to 5
dict={}

In [ ]:
# Question 9: Count frequency of each character in string "hello"

In [49]:
# Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}


def merge(dict1,dict2):
    for i in dict2.keys():
        dict1[i]=dict2[i]
        return dict1

dict1={'a': 1, 'b': 2}
dict2={'c': 3, 'd': 4}

print(merge(dict1,dict2))

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}

In [ ]:
# Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}

In [ ]:
# Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

In [ ]:
# Question 14: Add 'orange' to the 'fruits' list in nested dictionary

In [ ]:
# Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}

In [ ]:
# Question 16: Extract first coordinate from nested tuple

In [ ]:
# Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

In [ ]:
# Question 18: Add 'o' to vowels set in nested dictionary

In [ ]:
# Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

In [ ]:
# Question 20: Access employee name from 3-level nested dictionary

In [ ]:
# Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

In [ ]:
# Question 22: Check data type of each value in mixed dictionary

In [ ]:
# Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}

In [ ]:
# Question 24: Apply each function to "123" using dictionary

In [ ]:
# Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}