In [35]:
# Question 1: Create a list of first 10 square numbersl
# ls=[]
# for each in ls(range(1,10)):
    
# print(ls)

In [37]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# ls=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# for each in ls:
#     if each%2==0:
#         ls+=each
# print(ls)

In [65]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
# ls=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
# print("the original list is: ",str(ls))
# res=[]
# for each in ls:
#     if each not in res:
#         res.append(each)
# print("the list after removing the duplicates: ",str(res))

the original list is:  [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
the list after removing the duplicates:  [1, 2, 3, 4, 5, 6, 7]

In [41]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
# ls=[64, 34, 25, 12, 22, 11, 90]
# for each in ls:
#     ls.sort(reverse=True)
# print(ls)

[90, 64, 34, 25, 22, 12, 11]

In [ ]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

In [ ]:
# Question 6: Create a list of first 15 Fibonacci numbers

In [85]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
#By using Sorting 
# Note: While this method is simple but sorting the list can be less efficient when dealing with large datasets.

# ls=[45, 67, 23, 89, 12, 34, 78]
# ls.sort(reverse=True)
# print(ls)
# secondnum=ls[-6]
# print("the second largest number in ls is: ",secondnum)

#Another Method

In [43]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# ls=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# for each in ls:
#     ls.sort(reverse=True)
# print(ls)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [145]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
# ls=[1, 5, 2, 5, 3, 5, 4, 5, 6]
# print(ls.count(5))

In [ ]:
# Question 10: Create a list of prime numbers between 1 and 50
# ls=[]
# num=int(input("Enter the number of elements in the list: "))
# for ele in range(1,num+1):
#     ele=int(input("enter the elemets: "))
#     ls1=ls.append(ele)
# res=ls1.sort()  
# print(res)

In [147]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
#By Using Sum
#sum() function can be used to flatten a list of lists. It works by starting with an empty list and adding each sublist to it.

# ls=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# flatten_ls=sum(ls,[])
# print(flatten_ls)

#By Using 'for loop'
# ls=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# res=[]
# for sublist in ls:
#     for item in sublist:
#         res.append(item)
# print(res)


#By Using List Comprehension
# ls=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# res=[item for sublist in ls for item in sublist]
# print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

In [103]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

#By using Sum 
#this method doesnt work for mixed data types.
#TypeError: can only concatenate list (not "int") to list

# ls=[[1, 2], [3, 4], [5, 6]]
# flatten_ls=sum(ls,[])
# print(flatten_ls)

[1, 2, 3, 4, 5, 6]

In [129]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#By using Zip
#zip(*lists) unpacks the inner lists and groups their corresponding elements together.

# ls=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# a=[sum(x) for x in zip(*ls)]

# #zip (1,4,7),(2,5,8),(3,6,9)
# print(a)

#By using Map
# ls=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# a=[list(map(sum,zip(*ls)))]
# print(a)

In [ ]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

In [ ]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [ ]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [139]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# flatten_ls=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# ls=sum(flatten_ls,[])
# print(ls)
# res=[]
# if each%2==0 in ls:
#     ls.append(each)
# print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[]

In [143]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
 
#The Sum method doesnt work for mixed data types.
#TypeError: can only concatenate list (not "int") to list

# ls=[1, "hello", 3.14, True, [1, 2, 3]]
# new_ls=sum(ls,[])
# print(new_ls)

In [ ]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]

In [ ]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

In [151]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]

#By using ZIP doesnt work 
#zip(*lists) unpacks the inner lists and groups their corresponding elements together.

#Note: TypeError: unsupported operand type(s) for +: 'int' and 'str'

# ls=[(1, 'a'), (2, 'b'), (3, 'c')]

# a=[sum(x) for x in zip(*ls)]

# # #zip (1,2,3),('a','b','c')
# print(a)

In [ ]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [ ]:
# Question 25: Extract all 'name' values from list of dictionaries

In [ ]:
# Question 26: Find the person with maximum age in list of dictionaries

In [ ]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [ ]:
# Question 28: Find the maximum value in 4D list

In [ ]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

In [ ]:
# Question 30: Find the union of all sets in list of sets