# Day 21 Functions Class 01

In [3]:
# Keywords: Reserve Words

import keyword
print(keyword.kwlist)

ls=['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 
    'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 
    'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

print(len(ls))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [7]:
def functions():
    print("Hello World")

functions()

Hello World

In [21]:
def Sum(a,b):
    res=a+b
    return res
x=Sum(25,10)
print(x)

y=Sum("Data","Engineering")
print(y)

z=Sum(complex(4,6),complex(0,8))
print(z)

35
DataEngineering
(4+14j)

In [ ]:
# Data Loading

def load_data(type_of_data):
    if type_of_data=="csv":
        read_csv()
    elif type_of_data=="xlsx" or "xls":
        read_excel()
    else type_of_data=="json":
        read_json()

In [ ]:
# Transformation

def function(columns,transformations):
    print(column*0.25)

In [ ]:
# Null value Treatment
# outliers
# label encoding
# dummy variables
# min max scaling

In [31]:
# Print v/s Return

def function1(a,b):
    print(a+b)

def function2(a,b):
    return a+b
    print("End of Exceution")    # Return Sattement: Terminates the function after returning value.

function1(10,25)

function2(10,30)

35

40

In [62]:
# Visualisation
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_excel("EDUKRON_DATASETS/Source_Retail_Sales.xls")

# df.head()

# def visualisation(columnname):
#     plt.bar(df['columnname'],heigth=0.5,width=0.8)

# visualisation('Sales')

In [72]:
# Analysis

path="EDUKRON_DATASETS/Source_Retail_Sales.xls"
def analysis(df):
    df=pd.read_excel(path)
    print("**************************")
    print(df.columns)
    print("**************************")
    print(df.shape)
    print("**************************")
    print(df.dtypes)
    print("**************************")
    print(df.describe)
    print("**************************")
    print(df.isna().sum())
    print("**************************")
    print(df.describe(include='object'))
analysis(path)

**************************
Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')
**************************
(9994, 21)
**************************
Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object
**************************
<bound method NDFrame.describe of       Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]>
**************************
Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64
**************************
              Order ID       Ship Mode Customer ID  Customer Name   Segment  \
count             9994            9994        9994           9994      9994
unique            5009               4         793            793         3
top     CA-2017-100111  Standard Class    WB-21850  William Brown  Consumer
freq                14            5968          37             37      5191

              Country           City       State Region       Product ID  \
count            9994           9994        9994   9994             9994
unique              1            531          49      4             1862
top     United States  New York City  California   West  OFF-PA-10001970
freq             9994            915        2001   3203               19

               Category Sub-Category     Product Name
count              9994         9994             9994
unique                3           17             1850
top     Office Supplies      Binders  Staple envelope
freq               6026         1523               48

In [95]:
# Retail 

# # Positional Arguments

# def order(item,quantity):
#     print(f" Item: {item} and Quantity: {quantity}")

# order("Mobiles",20)
# # order(-10,20) 

# # Keyword Arguments

# def order(item,quantity):
#     print(f" Item: {item} and Quantity: {quantity}")

# order(quantity=5,item="Laptops")



# Default Arguments

# We don't have to pass the values while function calling.
# if we pass the values which are different to defualt values, the values get overwrite during function calling.


# def order(item,quantity=5): 
#     print(f" Item: {item} and Quantity: {quantity}")

# order("Laptops")

# order("Laptops",30)  # Overwrite

 Item: Laptops and Quantity: 5
 Item: Laptops and Quantity: 30

In [115]:
# Arguments

# *args: Dynamically defining the number of arguments: we don't know how many parameters migth require.

def order(*args):
    print(args[-2])   # Print(args) or return args: Both gives the arguments in tuple.
    # return args     # args[-2]: Negative Indexing since tuple supports it.

order(10,"Data",complex(45,23),True,0,False)

0

In [167]:
# Basic Mathematical operations

# Summation of Numbers

# def add_numbers(*args):
#     return sum(args)

# add_numbers(10,20,45,15)

# add_numbers(5,5)

# Finding the largest number/ maximum value

# def find_max(*args):
#     return max(args)

# find_max(-0.92,0.66,0.0333,-0.12,-0.00123)

# find_max(100,41,23,12,20,0,-3003,1256,0.0231)


# Find the maximum of 3 numbers

# def find_max(*args):
#     return max(args)

# find_max(10,25,100)

# # or 

# def max_num(x,y,z):
#     return max(x,y,z)

# max_num(-1.2,0.1,0.0123)


# Multiplication

def multiple(*args):
    result=1
    for i in args:
        result=result*i
    return result

# multiple(2,4,6)
# multiple(2,4,complex(2,5))
# multiple(1,0.123,0.000023)

# multiple("Data",3)

2.829e-06

In [147]:
# Usage of Loops

def greet(*args):
    for name in args:
        print(f"Hello, {name}!")   # Indexing: It applies to all the values. 

greet("Abhishek Shetty","Nikil Rao","Nagesh Hebbur")
# greet(10,20,30)

Hello, Abhishek Shetty!
Hello, Nikil Rao!
Hello, Nagesh Hebbur!

# Day 22 Functions Class 02

# **kwargs: keyword agruments

In [ ]:
# kwargs: 
# It comes in the form of dictionary form

In [5]:
def order_details(**kwargs):
    print(f"order details: {kwargs}")   #kwargs['Price']

# order_details("Item"="Laptop","Price"=50000,"Quantity"=2) : SyntaxError: expression cannot contain assignment, perhaps you meant "=="?

order_details(Item="Laptop",Price=50000,Quantity=2)

order details: 2

In [15]:
def greet(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}={value}")


greet(Name='Abhishek Shetty',Designation='Senior DE',Salary='30LPA')

Name=Abhishek Shetty
Designation=Senior DE
Salary=30LPA

In [23]:
def introduce(Name,**kwargs):
    print(f"Name: {Name}")
    if 'Age' in kwargs:
        print("Age: ",kwargs['Age'])
    if 'Job' in kwargs:
        print("Job: ",kwargs['Job'])

introduce('Abhishek Shetty',Age=25,Job='Senior DE')

Name: Abhishek Shetty
Age:  25
Job:  Senior DE