In [11]:
# Question 1: Create a list of first 10 square numbersl
# ls=[]
# for each in range(1,11):
#     if each==(each)**0.5:
#     ls.append(each)
# print(ls)

In [37]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# ls=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# for each in ls:
#     if each%2==0:
#         ls+=each
# print(ls)

In [65]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
# ls=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
# print("the original list is: ",str(ls))
# res=[]
# for each in ls:
#     if each not in res:
#         res.append(each)
# print("the list after removing the duplicates: ",str(res))

the original list is:  [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
the list after removing the duplicates:  [1, 2, 3, 4, 5, 6, 7]

In [41]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
# ls=[64, 34, 25, 12, 22, 11, 90]
# for each in ls:
#     ls.sort(reverse=True)
# print(ls)

[90, 64, 34, 25, 22, 12, 11]

In [1]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
# ls=[15, 23, 31, 42, 56, 78, 91]
# x=sum(ls)/7
# print(x)

48.0

In [41]:
# Question 6: Create a list of first 15 Fibonacci numbers

#By using While loop

# n=10
# x=0
# y=1
# next=y #to get next number
# count=1

# while count<=n:
#     print(next,end=" ")
#     count+=1
#     x,y=y,next
#     next=x+y
#     print()

#By using Recursion function

# def fibonacci(n):
#     x=0
#     y=1

# if n<0: 
#     print("Incorrect input")
#    elif n==0:
#     return 0
    
#    elif n==1:
#     return y
    
#    else:
#         for i in range(1, n):
#              z = x + y
#              x = y
#              y = z
#              return y

# print(fibonacci(0))
    
#Another way
# def fibonacci(n):

# if n < 0:
#     print("Incorrect input")

# elif n == 0:
#     return 0

# elif n == 1 or n == 2:
#     return 1

# else:
#     return Fibonacci(n-1) + Fibonacci(n-2)

# print(fibonacci(0))

In [37]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

#By using Sorting 

# Note: While this method is simple but sorting the list can be less efficient when dealing with large datasets.

# ls=[45, 67, 23, 89, 12, 34, 78]
# ls.sort(reverse=True)
# print(ls)
# secondnum=ls[-6]
# print("the second largest number in ls is: ",secondnum)

#Another Method

In [43]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# ls=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# for each in ls:
#     ls.sort(reverse=True)
# print(ls)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [145]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
# ls=[1, 5, 2, 5, 3, 5, 4, 5, 6]
# print(ls.count(5))

In [11]:
# Question 10: Create a list of prime numbers between 1 and 50

# list=[]

# for i in range(1,51):
#     if i%i==0 and i%2==0:
#         list.append(i)
# print(list)

[]

In [147]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#By Using Sum
#sum() function can be used to flatten a list of lists. It works by starting with an empty list and adding each sublist to it.

# ls=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# flatten_ls=sum(ls,[])
# print(flatten_ls)

#By Using 'for loop'
# ls=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# res=[]
# for sublist in ls:
#     for item in sublist:
#         res.append(item)
# print(res)


#By Using List Comprehension
# ls=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# res=[item for sublist in ls for item in sublist]
# print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

#By using & operator  Note: intersection() is not a built-in method for lists.

# list1=[1, 2, 3, 4, 5]
# list2=[4, 5, 6, 7, 8]

# x=list(set(list1) & set(list2))

# print(f"The common elements between lists:{x}")



#By using Loops

# list1=[1, 2, 3, 4, 5]
# list2=[4, 5, 6, 7, 8]

# common=[]

# for i in list1:
#     if i in list2:
#         common.append(i)

# print(f"The common elements between lists:{common}")



#By using List comprehension

# list1=[1, 2, 3, 4, 5]
# list2=[4, 5, 6, 7, 8]

# common=[ele for ele in list1 if ele in list2]

# print(f"The common elements between lists:{common}")


#By using lambda function and filter function

# list1=[1, 2, 3, 4, 5]
# list2=[4, 5, 6, 7, 8]

# common=list(filter( lambda ele:ele in list2,list1))

# print(f"The common elements between lists:{common}")

The common elements between lists:[4, 5]

In [43]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

#By using Sum 
#this method doesnt work for mixed data types.
#TypeError: can only concatenate list (not "int") to list

# ls=[[1, 2], [3, 4], [5, 6]]
# flatten_ls=sum(ls,[])
# print(flatten_ls)

In [129]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#By using Zip
#zip(*lists) unpacks the inner lists and groups their corresponding elements together.

# ls=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# a=[sum(x) for x in zip(*ls)]

# #zip (1,4,7),(2,5,8),(3,6,9)
# print(a)

#By using Map
# ls=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# a=[list(map(sum,zip(*ls)))]
# print(a)

In [ ]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

In [ ]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [ ]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [139]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# flatten_ls=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# ls=sum(flatten_ls,[])
# print(ls)
# res=[]
# if each%2==0 in ls:
#     ls.append(each)
# print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[]

In [143]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
 
#The Sum method doesnt work for mixed data types.
#TypeError: can only concatenate list (not "int") to list

# ls=[1, "hello", 3.14, True, [1, 2, 3]]
# new_ls=sum(ls,[])
# print(new_ls)

In [1]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
# ls=["apple", "banana", "cherry", "date"]

# for each in ls:
#     print(len(each))

5
6
6
4

In [ ]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

In [151]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]

#By using ZIP doesnt work 
#zip(*lists) unpacks the inner lists and groups their corresponding elements together.

#Note: TypeError: unsupported operand type(s) for +: 'int' and 'str'

# ls=[(1, 'a'), (2, 'b'), (3, 'c')]

# a=[sum(x) for x in zip(*ls)]

# # #zip (1,2,3),('a','b','c')
# print(a)

In [ ]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [ ]:
# Question 25: Extract all 'name' values from list of dictionaries

In [ ]:
# Question 26: Find the person with maximum age in list of dictionaries

In [ ]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [ ]:
# Question 28: Find the maximum value in 4D list

In [ ]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

In [ ]:
# Question 30: Find the union of all sets in list of sets

In [ ]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]

In [ ]:
# Question 32: Find the magnitude of each complex number in list

In [ ]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]

In [ ]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]

In [ ]:
# Question 35: Create a list of functions: [len, str, int, float]

In [ ]:
# Question 36: Apply each function in list to string "123"

In [ ]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]

In [ ]:
# Question 38: Apply each lambda function to 5

In [ ]:
# Question 39: Create a list of classes: [list, dict, set, tuple]

In [ ]:
# Question 40: Create instances of each class in list

In [ ]:
# Question 41: Create a list of None values: [None, None, None, None]

In [ ]:
# Question 42: Replace all None values with 0 in list

In [ ]:
# Question 43: Create a list of boolean values: [True, False, True, False]

In [ ]:
# Question 44: Count True values in boolean list

In [ ]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]

In [ ]:
# Question 46: Convert each range to list

In [ ]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]

In [ ]:
# Question 48: Convert each generator to list

In [ ]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]

In [ ]:
# Question 50: Extract all elements from each iterator